ul.gtc-menu {
    list-style-type: none;
    font-size: 80%;
    color: #ffffff;
    margin: 0px -15px;
    padding: 15px;
    background-color: #2f3a44;
}

ul.gtc-menu ul {
    background-color: #555;
    list-style-type: none;
    padding-left: 15px;
}

ul.gtc-menu li {
    background-color: #2f3a44;
}


ul.gtc-menu li > a {
    text-decoration: none;
    display: block;
    cursor: pointer;
    cursor: hand;
    padding: 8px 16px;
    color: #ffffff;
    background-color: #2f3a44;
    border-bottom: solid 1px black;
}

ul.gtc-menu li.active > a {
    color: #FF0;
    background-color: #000;
}

ul.gtc-menu li > a:hover {
    text-decoration: none;
    background-color: #00006D;
}