div.tag-container {
}

div.tag-container table.tag-table {
    width: 100%;
    margin-bottom: 5px;
}

div.tag-container table.tag-table td {
    padding: 0px;
}

div.tag {
    cursor: pointer;
    cursor: hand;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background-color: #FFF;
    border: solid 1px #AAA;
}

.cursor-hand {
    cursor: pointer;
    cursor: hand;
}

.glyphicon-btn {
    cursor: pointer;
    cursor: hand;
    border-radius: 5px;
    padding: 5px;
}

label.glyphicon-btn {
    cursor: pointer;
    cursor: hand;
    border-radius: 5px;
    padding: 1px 5px 1px 5px;
    margin: 3px 0px 0px 0px;
}

.glyphicon-btn:hover {
    background: #CCC;
}